body.about {
  width: 1440px;
  /* height: 3120px; */
}
/* body.about::before {
  content: '';
  width: 1440px;
  height: 3120px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/1440.png');
  opacity: 0.1;
} */
.about section {
  margin-top: 48px;
  display: flex;
}
.about div {
  overflow: hidden;
}
.about h1 {
  font-size: 38px;
  line-height: 46px;
}
.about p {
  font-size: 26px;
  line-height: 38px;
  margin-top: 24px;
}
.about section div:nth-of-type(1) {
  width: 760px;
}
.about section div:nth-of-type(2) {
  width: 680px;
}
.first-section div:nth-of-type(1) {
  padding: 130px 120px 0 120px;
}
.first-section div:nth-of-type(2) {
  padding-top: 80px;
}
.second-section div:nth-of-type(1) {
  padding-left: 60px;
}
.second-section div:nth-of-type(2) {
  padding: 50px 90px 0 0;
}
.third-section div:nth-of-type(1) {
  padding: 90px 60px 0 120px;
}
.third-section div:nth-of-type(2) {
  padding-top: 110px;
}
.third-section img {
  border-left: 1px solid #eee;
  border-radius: 6px;
}
.third-section {
  border-bottom: 1px solid #eee;
}
.about .fourth-section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 116px 0;
}
.fourth-section p,
.fourth-section h1 {
  text-align: center;
  width: 760px;
}
.fourth-section div {
  margin-top: 82px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.fourth-section a {
  border: 1px solid #eee;
  border-radius: 6px;
  display: block;
  width: 270px;
  text-align: center;
  text-decoration: none;
  padding: 17px;
  color: gray;
  transition: 0.8s;
}
.fourth-section a.black-button {
  background-color: #303030;
  color: white;
  border: 1px solid #303030;
  width: 300px;
  transition: 0.8s;
}
.fourth-section a:hover {
  background-color: #eee;
  transition: 0.25s;
}
.fourth-section a.black-button:hover {
  background-color: black;
  transition: 0.25s;
}
