nav.sidebar {
  width: 280px;
  font-size: 15px;
  line-height: 20px;
  position: fixed;
  left: 20px;
  opacity: 0.2;
  transition: 0.2s;
}
nav.sidebar:hover {
  opacity: 1;
  transition: 0.8s;
}
nav.sidebar h2 {
  font-weight: bold;
  font-size: 18px;
}
nav.sidebar a {
  text-decoration: none;
  color: grey;
}
nav.sidebar a:hover {
  color: black;
}
nav.sidebar ol > ol {
  margin-left: 10px;
}
